VITE_SUPABASE_URL=https://rcrbuepjjlaoqvdiqujo.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJjcmJ1ZXBqamxhb3F2ZGlxdWpvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODExMTIyMjEsImV4cCI6MjA5NjY4ODIyMX0.Gg-GERG6wjZOOClZRS6RcuPe4u_VYOyY3yMcWvghtk4